* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1.5rem;
    font-family: 'Inter', 'sans-serif';
    background-color: #0b132b ;
    color: #d4af37;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #f2ebe3;

}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #e9c46a;
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
    justify-content: center;
}

ul li{
    background-color: #1c2541;
    color: #f2ebe3;
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 1 1 160px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

ul li:hover{
    font-size: 1.1rem;
    transition: 0.5s;
}

p{
    max-width: 60ch;
    font-size: 1.2rem;
    text-align: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    display: block;
    margin: 0 auto 2rem;
    background-color: #c9a227;
    color: #1e1b18;
    border: none;
    padding: 0.6rem 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color: darkgoldenrod;
    font-size: 3rem;
    transition: 0.4s;
}

button a{
    text-decoration: none;
    color: black;
}

