* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1.5rem;
    font-family: 'Inter', 'sans-serif';
    background-color: #0b132b ;
    color: #d4af37;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #e9c46a;
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
    justify-content: center;
}

ul li{
    background-color: #1c2541;
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 1 1 160px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

p{
    max-width: 60ch;
    font-size: 1.2rem;
    text-align: center;
    justify-self: center;
}