body {
    margin: 0;
    padding: 1.5rem;
    font-family: 'Inter', sans-serif;
    background-color: #0b132b;
    color: #e5e7eb;
}

h1 {
    color: #fca311;
    text-align: center;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c2541;
    border-radius: 1rem;
    overflow: hidden;
}

th, td  {
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fca311;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.03);
}

button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fca311;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

